/* Estilo geral da página */
body {
    font-family: Arial, sans-serif; /* tipo da letra */
    background-color: #eeeeee;      /* cor de fundo */
    color: #333333;                 /* cor do texto */
    text-align: center;             /* centralizar texto */
    padding: 50px;
}

/* Título */
h1 {
    color: #0066cc;     /* cor azul */
    font-size: 30px;    /* tamanho da letra */
}

/* Parágrafo */
p {
    color: #555555;     /* cor cinza */
    font-size: 18px;    /* tamanho da letra */
}
